<div class="popup-overlay"></div>
<section class="popups-wrapper">
  <span class="sr-only">Всплывающие окна</span>
  @@include("./src/html/popup.html", {
  'id': 'request-a-call',
  'title': 'Заказать звонок',
  'form-src': './src/html/forms/request-a-call.html'
  })
  @@include("./src/html/popup.html", {
  'id': 'online-payment',
  'title': 'Оплата онлайн',
  'form-src': './src/html/forms/online-payment.html'
  })
  @@if (context.checkout) {
    @@include("./src/html/popup.html", {
    'id': 'checkout',
    'title': 'Оформить заказ',
    'form-src': './src/html/forms/checkout.html'
    })
  }
  @@if (context.foundCheaper) {
    @@include("./src/html/popup.html", {
    'id': 'found-cheaper',
    'title': 'Нашли дешевле?',
    'form-src': './src/html/forms/found-cheaper.html'
    })
  }
  @@if (context.leaveAReview) {
    @@include("./src/html/popup.html", {
    'id': 'leave-a-review',
    'title': 'Оставить отзыв',
    'form-src': './src/html/forms/leave-a-review.html'
    })
  }
  @@if (context.orderAMeasurement) {
    @@include("./src/html/popup.html", {
    'id': 'order-a-measurement',
    'title': 'Заказать замер',
    'form-src': './src/html/forms/request-a-call.html'
    })
  }
  @@if (context.startCooperation) {
    @@include("./src/html/popup.html", {
    'id': 'start-cooperation',
    'title': 'Начать сотрудничество',
    'form-src': './src/html/forms/start-cooperation.html'
    })
  }
  @@if (context.claimAnnotation) {
    @@include("./src/html/popup.html", {
    'id': 'claim-annotation',
    'title': '<small>Ознакомьтесь со списком <span>ОБЯЗАТЕЛЬНЫХ</span> фотографий для оформления рекламации</small>',
    'form-src': './src/html/forms/claim-annotation.html'
    })
  }
  @@if (context.requestRepair) {
    @@include("./src/html/popup.html", {
    'id': 'request-a-repair',
    'title': 'Заказать услугу ремонта',
    'form-src': './src/html/forms/request-a-repair.html'
    })
  }
</section>
@@include("./src/html/include/cookie.html")
@@include("./src/html/include/scroll-top.html")
<script src="scripts/main.js"></script>