<section class="our-shops @@if(context.detailed){_detailed}">
  <div class="container">
    @@if (context.heading) {
    <h2 class="our-shops__heading heading">@@heading</h2>
    }
    @@if (!context.detailed) {
    <div class="our-shops__items row">
      @@loop('./src/html/include/our-shops-item-short.html', '../json/our-shops.json')
    </div>
    }
    <div class="our-shops__map">
      <div class="map">
        <div class="map__overlay">
          <p class="map__message">Нажмите, чтобы взаимодействовать</p>
        </div>
        <iframe id="our-shops-map" width="1780" height="445" loading="lazy" title="Наши магазины (карта)"
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A28e2e91a91eb207316af2cae827e1825e63ca573cb080ad7c020de7d1c9e5a84&amp;source=constructor"></iframe>
      </div>
    </div>
    @@if (context.detailed) {
    <div class="our-shops__items row">
      @@loop('./src/html/include/our-shops-item-detailed.html', '../json/our-shops.json')
    </div>
    }
  </div>
</section>