<section class="our-goods">
  <div class="our-goods__container container">
    <h2 class="our-goods__heading heading">Наши товары</h2>
    <div class="our-goods__filter">
      <button class="our-goods__button _btn _btn--green active" type="button" value="bestseller">Хиты продаж</button>
      <button class="our-goods__button _btn _btn--green" type="button" value="novelty">Новинки</button>
      <button class="our-goods__button _btn _btn--green" type="button" value="discount">Скидки</button>
    </div>
    <div class="our-goods__slider-wrapper">
      <div class="our-goods__swiper">
        <div class="our-goods__swiper-wrapper">
          @@loop('./src/html/include/our-goods-item.html', 'json/products.json')
        </div>
        @@if (false ) {
        <div class="swiper-pagination"></div>
        }
        <div class="our-goods__nav-btn our-goods__nav-btn_prev">
          <svg class="our-goods__prev-icon" width="20" height="10">
            <use href="images/icons.svg#chevron-down" />
          </svg>
        </div>
        <div class="our-goods__nav-btn our-goods__nav-btn_next">
          <svg class="our-goods__next-icon" width="20" height="10">
            <use href="images/icons.svg#chevron-down" />
          </svg>
        </div>
        @@if (false ) {
        <div class="swiper-scrollbar"></div>
        }
      </div>
    </div>
  </div>
</section>