<div class="socials-links">
  @@if (telegram === true) {
  <a class="socials-links__link" href="@@telegramLink">
    <span class="sr-only">Telegram</span>
    <svg class="socials-links__icon" width="20" height="20">
      <use href="images/icons.svg#telegram" />
    </svg>
  </a>
  }
  @@if (instagram === true) {
  <a class="socials-links__link" href="@@instagramLink">
    <span class="sr-only">Instagram</span>
    <svg class="socials-links__icon" width="20" height="20">
      <use href="images/icons.svg#instagram" />
    </svg>
  </a>
  }
  @@if (facebook === true) {
  <a class="socials-links__link" href="@@facebookLink">
    <span class="sr-only">Facebook</span>
    <svg class="socials-links__icon" width="20" height="20">
      <use href="images/icons.svg#facebook" />
    </svg>
  </a>
  }
  @@if (youtube === true) {
  <a class="socials-links__link" href="@@youtubeLink">
    <span class="sr-only">YouTube</span>
    <svg class="socials-links__icon" width="20" height="20">
      <use href="images/icons.svg#youtube" />
    </svg>
  </a>
  }
  @@if (whatsapp === true) {
  <a class="socials-links__link" href="@@whatsappLink">
    <span class="sr-only">WhatsApp</span>
    <svg class="socials-links__icon" width="20" height="20">
      <use href="images/icons.svg#whatsapp" />
    </svg>
  </a>
  }
</div>