$button-background: $yellow;
$button-background-hover: #e3b100;

._bkgr-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(1.005);

  &--contain {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  &--higher {
    top: 20%;
    transform: translate(-50%, -20%) scale(1.005);
    object-position: 50% 20%;
  }
  &--lower {
    top: 80%;
    transform: translate(-50%, -80%) scale(1.005);
    object-position: 50% 80%;
  }
}
._image-wrapper {
  color: inherit;
  display: block;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
a,
input,
select,
button,
[role="button"],
[role="button"] %form-label,
[role="button"] %form-label::before {
  transition: box-shadow $transition3;
  box-shadow: 0 0 0 1px transparent;
}
@mixin focus-styles($width: 2px, $color: $yellow, $inset: false) {
  @if $inset {
    box-shadow: inset 0 0 0 $width $color;
  } @else {
    box-shadow: 0 0 0 $width $color;
  }
}
*:focus {
  outline: none;
}
*::selection {
  color: $white;
  background-color: $yellow;
}
*:focus-visible {
  outline: none;
  // border-radius: 3px;
  @include focus-styles;
}
._btn {
  color: $white;
  border: none;
  padding: 17px 30px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  transform: translateY(0);
  text-align: center;
  line-height: 1;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  background-color: $button-background;

  @media ($desktop-min) {
    transition-duration: 0.3s;
    transition-property: color, background-color, opacity, box-shadow;

    &:hover {
      background-color: $button-background-hover;
    }
  }
  @media ($tablet-max) and ($tablet-min) {
    padding: 15px 30px;
    font-size: 15px;
  }
  @media ($mobile-max) {
    padding: 13px 27px;
    font-size: 14px;
    line-height: 1.3;
  }

  &:focus-visible {
    @include focus-styles($color: $white);
  }
  &:disabled {
    background-color: $form-grey-color;
  }
  &:active {
    transform: translateY(2px);
  }

  &--green {
    background-color: $primary-color;

    @media ($desktop-min) {
      &:hover {
        background-color: $primary-hover;
      }
    }

    &:focus-visible {
      @include focus-styles;
    }
  }
  &--white {
    color: $text-color;
    background-color: $white;

    @media ($desktop-min) {
      &:hover {
        color: $white;
        background-color: $text-color;
      }
    }

    &:focus-visible {
      @include focus-styles;
    }
  }
  &--transparent {
    border: 2px solid $white;
    background-color: transparent;

    @media ($desktop-min) {
      &:hover {
        color: $text-color;
        background-color: $white;
      }
    }
  }
}
.scroll-top {
  width: 45px;
  height: 45px;
  border: 1px solid $items-border;
  padding: 0;
  opacity: 0;
  z-index: 100;
  position: fixed;
  visibility: hidden;
  box-shadow: 0 0 20px rgba(132, 168, 120, 0.28);
  border-radius: 50%;
  background-color: $white;
  transition: opacity $transition3, visibility $transition3;

  @media ($desktop-min) {
    right: 48px;
    bottom: 70px;
  }
  @media ($tablet-max) {
    right: 35px;
    bottom: 40px;
  }

  &._active {
    opacity: 0.7;
    visibility: visible;

    &:hover {
      opacity: 1;
    }
  }
  &:focus-visible {
    opacity: 1;
    @include focus-styles;
  }
  &__progress {
    top: 3px;
    left: 3px;
    position: absolute;
  }
  // &__path {
  //   transition: stroke-dashoffset 0.1s;
  // }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
strong,
b {
  font-weight: 600;
}
label {
  display: inline-block;
}
._hover-to-open {
  position: relative;
  @extend %hover-to-open !optional;

  &::after {
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    position: absolute;
    visibility: hidden;

    @media ($desktop-min-xl) {
      content: "";
    }
  }

  &:hover,
  &:focus-within {
    @extend %hover-to-open-hover !optional;

    &::after {
      visibility: visible;
    }
  }
  &__target {
    top: 100%;
    opacity: 0;
    z-index: 100;
    position: absolute;
    min-width: 100%;
    visibility: hidden;
    // pointer-events: none;
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s, padding 0.3s,
      max-height 0.3s;

    @extend %hover-to-open-target !optional;

    @media ($desktop-min-xl) {
      %hover-to-open-hover > & {
        opacity: 1;
        visibility: visible;
        // pointer-events: all;
      }
    }
    @media ($desktop-max) {
      %hover-to-open.active > & {
        opacity: 1;
        visibility: visible;
        // pointer-events: all;
      }
    }
  }
}
%hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
@mixin small-scrollbar($foreground-color: #999, $background-color: #333) {
  @supports selector(::-webkit-scrollbar-thumb) {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  }
  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: thin;
}
@media ($desktop-max) {
  ._desktop-only {
    display: none !important;
  }
}
@media ($mobile-max) {
  ._desktop-and-tablet-only {
    display: none !important;
  }
}
@media ($desktop-min-xl), ($tablet-min) {
  ._tablet-only {
    display: none !important;
  }
}
@media ($desktop-min-xl) {
  ._tablet-and-mobile-only {
    display: none !important;
  }
}
@media ($tablet-min) {
  ._mobile-only {
    display: none !important;
  }
}

%row-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@mixin margin-x($margin) {
  margin-left: $margin;
  margin-right: $margin;
}
@mixin padding-x($padding) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin column-size($size, $margin: 15px) {
  flex: 0 1 calc($size - $margin * 2);
  max-width: calc($size - $margin * 2);
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%link-indent {
  margin: -5px;
  padding: 5px;
}
@mixin link-hover-underline($color: $white) {
  display: inline-block;
  position: relative;
  transform: translateY(0);
  transition: transform $transition3;
  @extend %link-indent;

  @media ($desktop-min) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      right: 5px;
      bottom: 4px;
      height: 1px;
      opacity: 0;
      transform: translateY(0);
      transition: transform $transition3, opacity $transition3;
      background-color: $color;
    }
    &:hover {
      transform: translateY(-2px);

      &::after {
        opacity: 1;
        transform: translateY(2px);
      }
    }
  }
}

@keyframes main-banner-value {
  6.7% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(25px);
  }
  26.7% {
    transform: translateX(0);
  }
}
@keyframes main-banner-chevron {
  5.3% {
    transform: translateX(-0.5rem);
  }
  6.7% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  26.7% {
    opacity: 0;
  }
}

html {
  font-size: calc(0.580208rem + 0.35vw);
}
body {
  color: $text-color;
  font-size: inherit;
  overflow-x: hidden;
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-family;
  background-color: $body-background;
  -webkit-tap-highlight-color: transparent;
}
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @media ($desktop-min-xl) {
    padding-top: $header-top-height + $header-middle-height +
      $header-bottom-height;
  }
  @media ($desktop-max) {
    padding-top: $header-height-mobile;
  }

  &._inner-page {
    @extend %inner-page !optional;
  }
  ._inner-content {
    @extend %inner-content !optional;

    ._custom-content h2,
    h2%heading {
      font-size: 1.25rem;

      @media ($mobile-max) {
        font-size: 16px;
      }
    }
    h2%heading {
      margin-bottom: 2.3rem;
    }
    & > * {
      padding: 1.7rem 0;
    }
  }
}
.container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: $container-padding-desktop;
  padding-right: $container-padding-desktop;

  @extend %container !optional;

  @media ($desktop-max) {
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }
  @media ($mobile-max) {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }
}
.row {
  @extend %row-wrapper;

  &:not(.not-default-row) {
    @media ($desktop-min) {
      @include margin-x(-15px);
    }
    @media ($tablet-max) and ($tablet-min) {
      @include margin-x(-7.5px);
    }
  }
  &:not(.not-default-row-mob) {
    @media ($mobile-max) {
      @include margin-x(-7.5px);
    }
  }
  & > * {
    width: 100%;
  }
  &:not(.not-default-row) > * {
    @media ($desktop-min) {
      @include padding-x(15px);
    }
    @media ($tablet-max) and ($tablet-min) {
      @include padding-x(7.5px);
    }
  }
  &:not(.not-default-row-mob) > * {
    @media ($mobile-max) {
      @include padding-x(7.5px);
    }
  }
}
@mixin row($gapT, $gapL) {
  @extend %row-wrapper;
  margin-top: -$gapT;
  margin-left: -$gapL;

  & > * {
    margin-top: $gapT;
    padding-left: $gapL;
  }
}
%heading-styles {
  color: $heading-color;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.25;
  font-family: $font-family;
  margin-bottom: 2.5rem;
  text-transform: uppercase;

  @media ($tablet-mad) {
    margin-bottom: 2rem;
  }
}
.heading {
  @extend %heading-styles;
  @extend %heading !optional;
}
.breadcrumbs {
  padding: 19px 0;
  position: relative;
  font-size: 12px;
  line-height: 1.4166;

  @media ($mobile-max) {
    padding: 9px 0;
    font-size: 10px;
    line-height: 1.5;
  }

  .container {
    background: linear-gradient(0deg, $items-border 1px, transparent 1px) center
      9px/100% 17px repeat-y transparent;

    @media ($mobile-max) {
      background-size: 100% 15px;
      background-position: center 8px;
    }
  }
  &__list-wrapper {
    display: inline-block;
  }
  &__list {
    font-size: 0;
  }
  &__list-item {
    display: inline-block;

    &:first-child {
      margin-left: -4px;

      @media ($tablet-min) {
        margin-left: -20px;
      }

      @extend %bcr-li-first !optional;
    }
    &:last-child {
      margin-right: -4px;

      @media ($tablet-min) {
        margin-right: -20px;
      }

      @extend %bcr-li-last !optional;
    }
    & + &::before {
      content: "\\";
      padding: 0 4px;
      font-size: 12px;
      background-color: $white;

      @media ($mobile-max) {
        font-size: 10px;
      }
    }
  }
  &__link {
    color: $text-color;
    padding: 0 4px;
    display: inline;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $white;

    %bcr-li-first & {
      @media ($tablet-min) {
        padding-left: 20px;
      }
    }
    %bcr-li-last & {
      @media ($tablet-min) {
        padding-right: 20px;
      }
    }

    @media ($mobile-max) {
      font-size: 10px;
    }

    &[href] {
      @media ($desktop-min) {
        transition: color 0.2s;

        &:hover {
          color: $heading-color;
        }
      }
    }
    &:not([href]) {
      cursor: default;
    }
  }
}
.map {
  overflow: hidden;
  position: relative;
  user-select: none;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    @extend %flex-center;

    &.active {
      opacity: 1;
    }
  }
  &__message {
    padding: 20px;
    max-width: 100%;
    max-width: 300px;
    text-align: center;
    font-weight: 600;
  }
  iframe {
    width: 100%;
    border: none;
    display: block;
  }
}
._custom-content {
  color: $heading-color;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.875;

  @media ($tablet-max) {
    font-size: 14px;
    line-height: 1.79;
  }

  &:not(._table-full) {
    @extend %table-full !optional;
  }
  & > h1,
  & > h2 {
    @extend %heading-styles;
  }
  & > h1 {
    margin-top: 0.27em;
  }
  & > h2 {
    margin-bottom: 1.3em;
  }
  & > h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    @media ($mobile-max) {
      font-size: 16px;
    }
  }
  & > ol,
  & > ul {
    list-style: none;
    margin-top: 0.65em;
  }
  & > ul {
    padding-left: 0.65em;

    li {
      position: relative;
      padding-left: 0.9em;

      &:before {
        content: "•";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.25em;
        line-height: 1.3em;
      }
      & + li {
        margin-top: 0.63em;
      }
    }
    &._marked {
      font-size: 18px;
      padding-left: 0;

      @media ($desktop-max) and ($tablet-min) {
        font-size: 16px;
      }
      @media ($mobile-max) {
        font-size: 14px;
      }

      li:not(._no-badge) {
        padding-left: 2.35em;

        @media ($mobile-max) {
          padding-left: 44px;
        }

        &:before {
          top: 0.1em;
          left: 0;
          width: 1.6666em;
          height: 1.6666em;
          content: "";
          position: absolute;
          min-width: 30px;
          font-size: inherit;
          min-height: 30px;
          background: url("../images/icons.svg#check-round") center / contain
            no-repeat transparent;

          @media ($mobile-max) {
            top: -0.3em;
          }
        }
        & + li {
          margin-top: 0.75em;
        }
      }
    }
  }
  & > ol {
    padding-left: 0;
    counter-reset: ordered;

    li {
      &:before {
        counter-increment: ordered;
        content: counter(ordered) ") ";
      }
    }
  }
  a:not([class]) {
    color: $primary-color;
    line-height: 1.2;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;

    &:not([class]) {
      @include link-hover-underline($color: $primary-color);
    }
  }
  br {
    font-size: 0;

    & + p {
      margin-top: 0;
    }
  }
  table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;

    @media ($desktop-min-xl) {
      %table-full & {
        max-width: 50%;
      }
    }
  }
  tr {
    &:nth-child(2n + 1) {
      background-color: $white;
    }
    &:nth-child(2n) {
      background-color: $form-grey-color;
    }
  }
  th,
  td:first-child {
    color: $heading-color;
    padding: 11px 10px 10px 1rem;
    text-align: left;
    font-weight: 500;

    @media ($mobile-max) {
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }
  td {
    padding: 11px 2rem 10px 10px;
    text-align: right;

    @media ($mobile-max) {
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }
  figure {
    display: flex;
    padding: 1rem 2.5rem 1rem 1.1rem;
    margin-top: 2em;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
    align-items: center;
    border-radius: 10px;
    background-color: $white;

    &::before {
      width: 4.625rem;
      color: $heading-color;
      height: 4.625rem;
      @extend %flex-center;
      content: "!";
      min-width: 35px;
      font-size: 3rem;
      min-height: 35px;
      align-self: flex-start;
      flex-shrink: 0;
      line-height: 1;
      font-weight: 500;
      border-radius: 5px;
      background-color: $yellow;
    }
    & + * {
      margin-top: 2em;
    }

    figcaption {
      margin-left: 1.5rem;
    }
  }
  img:not([class]) {
    width: auto;
    height: auto;
  }
  img:not([src$=".png"]):not([src$=".svg"]) {
    background-color: $items-border;
  }
  & > ._btn {
    min-width: 16.875rem;
  }
  & > * {
    margin: 0;

    @media ($desktop-min-xl) {
      max-width: 1340px;
    }
  }
  & > * + * {
    margin-top: 1em;
  }
  & > * + h2 {
    margin-top: 2.35em;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  ._price {
    color: $primary-color;
    font-size: 1.5625rem;
    line-height: 1;
    font-weight: 700;

    @media ($tablet-max) {
      font-size: 18px;
    }
  }
  ._bigger {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 500;

    @media ($tablet-max) {
      font-size: 16px;
    }
  }
  ._red {
    color: $bestseller-color;
  }
  .form,
  %form-item-wrapper-row {
    $cc-form-gap: 1.875rem;

    margin-top: -$cc-form-gap;
    margin-left: -$cc-form-gap;

    & > * {
      margin-top: $cc-form-gap;
      padding-left: $cc-form-gap;
    }

    %form-input,
    %form-select,
    %form-textarea {
      font-size: 14px;
      min-height: 50px;
      padding-left: 1.5rem;

      @media ($mobile-max) {
        width: 100%;
      }
    }
    label {
      width: 100%;
    }
  }
  .form {
    max-width: none;
  }
  %form-item-wrapper-row {
    & > * {
      flex: 1 1 auto;
      max-width: 50%;

      @media ($mobile-max) {
        width: 100%;
        max-width: 100%;
      }
    }
    %form-button {
      flex-grow: 1;
    }
  }
  %form-button {
    @media ($mobile-max) {
      flex-grow: 1;
    }
  }
  & > %custom-slider {
    max-width: none;
    margin-left: -$container-padding-desktop;
    margin-right: -$container-padding-desktop;

    @media ($desktop-max) {
      margin-left: -$container-padding-tablet;
      margin-right: -$container-padding-tablet;
    }
    @media ($mobile-max) {
      margin-left: -$container-padding-mobile;
      margin-right: -$container-padding-mobile;
    }
  }
}
