$desktop-max-xl: "max-width: 1366.98px";
$desktop-min-xl: "min-width: 1200px";
$desktop-max: "max-width: 1199.98px";
$desktop-min: "min-width: 992px";
$tablet-max: "max-width: 991.98px";
$tablet-mid: "min-width: 768px";
$tablet-mad: "max-width: 767.98px";
$tablet-min: "min-width: 576px";
$mobile-max: "max-width: 575.98px";
