$white: #fff;
$black: #000;
$yellow: #f9c201;
$yellow-accent: #efd167;
$text-color: #585858;
$text-color-lighter: #898989;
$primary-color: #0046C3;
$primary-hover: #003BA5;
$heading-color: #2d2d2d;
$secondary-color: #003BA5;
$marker-green-color: #0046C3;
$form-grey-color: #f4f4f4;
$body-background: $white;
$required-and-error: #b65c5c;
$bestseller-color: #e85020;
$novelty-color: #4bb748;
$items-border: #d1d1d1;
$catalog-background: #e6ede4;
$promotion-background: #d8b888;
$full-price-background: #f4f5fb;
$comparison-button: #FF9029;
$orange: #FF711F;
$orange-accent: #ff5e00;
$peach: #FFB88E;