@import "colors";
@import "breakpoints";

$font-family: "Montserrat", sans-serif;

$transition3: 0.3s ease-out;

$header-top-height: 60px;
$header-middle-height: 110px;
$header-bottom-height: 70px;

$header-height-mobile: 65px;

$container-padding-desktop: 70px;
$container-padding-tablet: 40px;
$container-padding-mobile: 20px;

@import "nullstyle";
@import "fonts";
@import "templates";
