$button-background: $yellow;
$button-background-hover: #e3b100;

._bkgr-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(1.005);

  &--contain {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
._image-wrapper {
  color: inherit;
  display: block;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
a,
input,
select,
button,
[role="button"],
[role="button"] %form-label,
[role="button"] %form-label::before {
  transition: box-shadow $transition3;
  box-shadow: 0 0 0 1px transparent;
}
@mixin focus-styles($width: 2px, $color: $yellow, $inset: false) {
  @if $inset {
    box-shadow: inset 0 0 0 $width $color;
  } @else {
    box-shadow: 0 0 0 $width $color;
  }
}
*:focus {
  outline: none;
}
*::selection {
  color: $white;
  background-color: $yellow;
}
*:focus-visible {
  outline: none;
  // border-radius: 3px;
  @include focus-styles;
}
._btn {
  color: $white;
  border: none;
  padding: 17px 30px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  transform: translateY(0);
  text-align: center;
  line-height: 1;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  background-color: $button-background;

  @media ($desktop-min) {
    transition-duration: 0.3s;
    transition-property: color, background-color, opacity, box-shadow;

    &:hover {
      background-color: $button-background-hover;
    }
  }
  @media ($tablet-max) and ($tablet-min) {
    padding: 15px 30px;
    font-size: 15px;
  }
  @media ($mobile-max) {
    padding: 13px 27px;
    font-size: 14px;
    line-height: 1.3;
  }

  &:focus-visible {
    @include focus-styles($color: $white);
  }
  &:disabled {
    background-color: $form-grey-color;
  }
  &:active {
    transform: translateY(2px);
  }

  &--green {
    background-color: $primary-color;

    @media ($desktop-min) {
      &:hover {
        background-color: $primary-hover;
      }
    }

    &:focus-visible {
      @include focus-styles;
    }
  }
  &--white {
    color: $text-color;
    background-color: $white;

    @media ($desktop-min) {
      &:hover {
        color: $white;
        background-color: $text-color;
      }
    }

    &:focus-visible {
      @include focus-styles;
    }
  }
  &--transparent {
    border: 2px solid $white;
    background-color: transparent;

    @media ($desktop-min) {
      &:hover {
        color: $text-color;
        background-color: $white;
      }
    }
  }
}
._custom-content {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.875;

  & > * + * {
    margin-top: 1em;
  }
  ul,
  ol {
    list-style: none;
    margin-top: 0.65em;
    padding-left: 0.65em;

    li {
      position: relative;
      padding-left: 0.9em;

      &:before {
        content: "•";
        position: absolute;
        top: 0;
        left: 0;
      }
      & + li {
        margin-top: 0.63em;
      }
    }
  }
}
.scroll-top {
  width: 45px;
  height: 45px;
  border: 1px solid $items-border;
  padding: 0;
  opacity: 0;
  z-index: 100;
  position: fixed;
  visibility: hidden;
  box-shadow: 0 0 20px rgba(132, 168, 120, 0.28);
  border-radius: 50%;
  background-color: $white;
  transition: opacity $transition3, visibility $transition3;

  @media ($desktop-min) {
    right: 48px;
    bottom: 70px;
  }
  @media ($tablet-max) and ($tablet-mad) {
    right: 60px;
    bottom: 60px;
  }

  &._active {
    opacity: 0.7;
    visibility: visible;

    &:hover {
      opacity: 1;
    }
  }
  &:focus-visible {
    opacity: 1;
    @include focus-styles;
  }
  &__progress {
    top: 3px;
    left: 3px;
    position: absolute;
  }
  // &__path {
  //   transition: stroke-dashoffset 0.1s;
  // }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
strong,
b {
  font-weight: 600;
}
label {
  display: inline-block;
}
._hover-to-open {
  position: relative;
  @extend %hover-to-open !optional;

  &::after {
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    position: absolute;
    visibility: hidden;

    @media ($desktop-min-xl) {
      content: "";
    }
  }

  &:hover,
  &:focus-within {
    @extend %hover-to-open-hover !optional;

    &::after {
      visibility: visible;
    }
  }
  &__target {
    top: 100%;
    opacity: 0;
    z-index: 100;
    position: absolute;
    min-width: 100%;
    visibility: hidden;
    // pointer-events: none;
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s, padding 0.3s,
      max-height 0.3s;

    @extend %hover-to-open-target !optional;

    @media ($desktop-min-xl) {
      %hover-to-open-hover > & {
        opacity: 1;
        visibility: visible;
        // pointer-events: all;
      }
    }
    @media ($desktop-max) {
      %hover-to-open.active > & {
        opacity: 1;
        visibility: visible;
        // pointer-events: all;
      }
    }
  }
}
// ._wheel-to-hide {
//   &::before {
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 50;
//     opacity: 0;
//     content: "";
//     display: block;
//     position: absolute;
//     animation: wheel-to-hide 2s infinite;
//     visibility: hidden;
//     transition: opacity 0.5s, visibility 0.5s;
//     background: url("../images/icons/mouse-wheel.png") 50% 50%/30px auto
//       no-repeat rgba(255, 255, 255, 0.5);
//   }
//   &.active {
//     &::before {
//       opacity: 1;
//       visibility: visible;
//     }
//   }
// }
%hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
@mixin small-scrollbar($foreground-color: #999, $background-color: #333) {
  @supports selector(::-webkit-scrollbar-thumb) {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  }
  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: thin;
}
@media ($desktop-max) {
  ._desktop-only {
    display: none !important;
  }
}
@media ($desktop-min-xl), ($tablet-min) {
  ._tablet-only {
    display: none !important;
  }
}
@media ($desktop-min-xl) {
  ._tablet-and-mobile-only {
    display: none !important;
  }
}
@media ($tablet-min) {
  ._mobile-only {
    display: none !important;
  }
}

%row-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@mixin margin-x($margin) {
  margin-left: $margin;
  margin-right: $margin;
}
@mixin padding-x($padding) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin column-size($size, $margin: 15px) {
  flex: 0 1 calc($size - $margin * 2);
  max-width: calc($size - $margin * 2);
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%link-indent {
  margin: -5px;
  padding: 5px;
}
@mixin link-hover-underline($color: $white) {
  display: inline-block;
  position: relative;
  transform: translateY(0);
  transition: transform $transition3;
  @extend %link-indent;

  @media ($desktop-min) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      right: 5px;
      bottom: 4px;
      height: 1px;
      opacity: 0;
      transform: translateY(0);
      transition: transform $transition3, opacity $transition3;
      background-color: $color;
    }
    &:hover {
      transform: translateY(-2px);

      &::after {
        opacity: 1;
        transform: translateY(2px);
      }
    }
  }
}

@keyframes main-banner-value {
  6.7% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(25px);
  }
  26.7% {
    transform: translateX(0);
  }
}
@keyframes main-banner-chevron {
  5.3% {
    transform: translateX(-0.5rem);
  }
  6.7% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  26.7% {
    opacity: 0;
  }
}
@keyframes wheel-to-hide {
  30% {
    background-position: 50% 45%;
    // transform: translateY(-10px);
  }
  40% {
    background-position: 50% 54%;
    // transform: translateY(8px);
  }
  55% {
    background-position: 50% 42.5%;
    // transform: translateY(-5px);
  }
  75% {
    background-position: 50% 50.5%;
    // transform: translateY(1px);
  }
}
