.filter {
  border: 1px solid $items-border;
  padding: 2.0625rem 2.5625rem;
  background-color: $white;

  &__close-button {
    top: 1.8rem;
    right: 2.3rem;
    color: $heading-color;
    border: none;
    z-index: 1;
    padding: 5px;
    position: absolute;
    line-height: 1;
    background-color: transparent;

    @media ($desktop-min-xl) {
      display: none;
    }
  }
  %sort {
    flex-direction: column;

    @media ($desktop-min-xl) {
      display: none;
    }
  }
  %sort-item {
    &:nth-last-child(-n + 3) {
      margin-top: 10px;
    }
  }
  &__form {
    @extend %filter-form !optional;
  }
  &__body {
    %form-item-wrapper {
      max-height: 0;
      transition: max-height $transition3;
      overflow: hidden;
    }
    %form-item-heading {
      font-size: 1.125rem;
      transition: margin-bottom $transition3;
      margin-bottom: 0;

      @media ($desktop-max) {
        font-size: 16px;
      }
    }
  }
  &__body-item {
    position: relative;
    margin-bottom: 1.3rem;
    border-bottom: 1px solid $items-border;
    padding-bottom: 1.4rem;

    &.active {
      @extend %filter-body-item-active !optional;

      %form-item-wrapper {
        max-height: 350px;
      }
      %form-item-heading {
        margin-bottom: 28px;
      }
    }
  }
  &__toggle-item {
    top: 0;
    right: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border: none;
    position: absolute;
    text-align: right;
    line-height: 1;
    background-color: transparent;
    @extend %link-indent;

    svg {
      transform: translateY(0);
      transition: transform $transition3;

      %filter-body-item-active & {
        transform: scaleY(-1);
      }
    }
  }
  &__checkboxes-wrapper {
    overflow: hidden;
    max-height: 110px;
    margin-bottom: 10px;
    @include small-scrollbar($yellow, $form-grey-color);

    &.active {
      overflow-y: auto;
      max-height: 200px;

      @extend %filter-checkboxes-wrapper-active !optional;
    }
  }
  &__toggle-checkboxes {
    color: $text-color-lighter;
    border: none;
    padding: 0;
    margin-top: 3px;
    text-decoration: underline;
    background-color: transparent;

    @media ($desktop-max) {
      font-size: 14px;
    }

    %filter-checkboxes-wrapper-active + & {
      display: none;
    }
  }
  %form-items-row {
    margin-left: -17px;

    & > * {
      margin-left: 17px;
    }
  }
  %form-slider {
    margin-top: 25px;
    margin-bottom: 10px;

    &%noui-horizontal {
      height: 4px;
    }
    %noui-handle {
      top: -4.5px;
      width: 10px;
      right: -5px;
      height: 12px;
      border-radius: 0;
    }
  }
  %form-input-placeholder {
    top: 12px;
    left: 17px;
    font-size: 16px;
  }
  %form-input {
    border: 1px solid $text-color;
    min-height: 45px;
    padding-left: 50px;
    background-color: $white;

    @media ($desktop-max) {
      font-size: 14px;
    }
  }
  %form-checkbox {
    width: 100%;
    margin-right: 0;

    &:not(:first-child) {
      margin-top: 18px;
    }
    input {
      & ~ %form-label {
        font-size: 16px;
        line-height: 1.2;
        padding-left: 29px;
      }
    }
  }
  &__buttons {
    text-align: center;
  }
  &__submit {
    width: 100%;
    padding: 14px 30px;
    margin-top: 10px;
  }
  &__reset {
    color: $primary-color;
    border: none;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 600;
    background-color: transparent;
    @include link-hover-underline($primary-color);
  }
}