.pagination {
  @extend %pagination !optional;

  text-align: center;

  &__list {
    @extend %flex-center;
  }
  @at-root {
    .page-item {
      display: inline-block;

      &.active {
        @extend %pagination-active-item !optional;
      }
      &:first-child {
        @extend %pagination-first-item !optional;
      }
      &:last-child {
        @extend %pagination-last-item !optional;
      }
    }
  }
  @at-root {
    .page-link {
      color: $heading-color;
      display: block;
      padding: 0 8px;
      font-size: 20px;
      line-height: 1;
      font-weight: 600;
      text-decoration: none;

      @media ($desktop-min) {
        transform: scale(1);
        transition: transform 0.2s;

        &[href]:hover {
          transform: scale(1.2);
        }
      }
      @media ($mobile-max) {
        font-size: 18px;
      }

      &:not([href]),
      %pagination-active-item & {
        color: $primary-color;
        cursor: default;
        pointer-events: none;
        text-decoration: underline;
      }
      %pagination-first-item &[href],
      %pagination-last-item &[href] {
        @media ($desktop-min) {
          &:hover {
            transform: scale(1.03);
          }
        }
        @media ($tablet-mid) {
          font-size: 14px;
          font-weight: 400;
        }
        @media ($tablet-mad) {
          span {
            display: none;
          }
        }
      }
    }
  }
  &__description-wrapper {
    margin-top: 6px;
  }
  &__description {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;

    @media ($mobile-max) {
      font-size: 12px;
    }
  }
}
