.products {
  $items-gap: 3.5rem;
  $items-gap-mobile: 30px;
  $first-break: "max-width: 1499.98px";

  display: flex;
  margin-top: 4rem;

  @media ($mobile-max) {
    margin-top: 12px;
  }

  &__filter {
    top: calc($header-bottom-height + 20px);
    flex: 1 0 24.4%;
    position: sticky;
    min-width: 310px;
    max-width: 24.4%;
    align-self: flex-start;

    @media ($desktop-max) {
      top: 65px;
      left: 0;
      width: calc(100% - 40px);
      bottom: 0;
      z-index: 100;
      display: flex;
      position: fixed;
      max-width: 360px;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: column;
      transform: translateX(-100%);
      transition: transform $transition3;
      @include small-scrollbar($yellow, $form-grey-color);

      &._opened {
        transform: translateX(0);
      }
    }
    &._opened {
      @extend %products-filter-opened !optional;
    }

    %sort {
      %form-item-heading {
        font-size: 14px;
        font-weight: 400;
        margin-right: 15px;
        text-transform: uppercase;
      }
      %form-select {
        color: $heading-color;
        padding: 0 25px 0 0;
        overflow: hidden;
        font-size: 14px;
        font-weight: 600;
        text-overflow: ellipsis;
        text-transform: uppercase;
        text-decoration: underline;
        background-size: 22px auto;
        background-position: right center;
      }
      %sort-products-count {
        color: $heading-color;
        font-size: 14px;
      }
    }
    %filter-form {
      @media ($desktop-max) {
        margin-top: 30px;
      }
    }
  }
  &__promotion {
    margin-top: 30px;

    @media ($desktop-max) {
      margin-top: 0;
    }
  }
  &__filter-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 50;
    visibility: hidden;
    transition: visibility $transition3, opacity $transition3;
    background-color: rgba(0, 0, 0, 0.42);

    @media ($desktop-max) {
      %products-filter-opened ~ & {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__wrapper {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    margin-top: -5px;
    padding-top: 5px;
    flex-direction: column;

    @media ($desktop-min-xl) {
      margin-left: $items-gap;
    }
    @media ($mobile-max) {
      margin-top: 10px;
    }
  }
  &__description {
    order: 1;
    margin: 3.2rem auto 0;
    max-width: 80%;
    font-size: 14px;
    line-height: 2.143;

    @media ($mobile-max) {
      max-width: none;
    }
  }
  &__description-heading {
    font-size: 20px;
    margin-bottom: 1.3rem;
    text-transform: none;

    @media ($desktop-max) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: -$items-gap;
    margin-left: -$items-gap;

    &.grid {
      @extend %products-items-grid !optional;
    }
    &.grid2 {
      @extend %products-items-grid2 !optional;
    }
    &.list {
      @extend %products-items-list !optional;
    }

    @media ($mobile-max) {
      margin-top: calc($items-gap-mobile * -1.66);
      margin-left: -$items-gap-mobile;
    }

    %product {
      position: relative;
      margin-top: $items-gap;
      margin-left: $items-gap;

      &::before {
        top: -1.9rem;
        left: -$items-gap;
        right: 0;
        content: "";
        position: absolute;
        border-top: 1px solid $items-border;
      }

      @media ($mobile-max) {
        margin-top: calc($items-gap-mobile * 1.66);
        margin-left: $items-gap-mobile;

        &::before {
          top: -25px;
        }
      }
    }
  }
  %products-items-grid {
    %product {
      flex: 1 1 calc(25% - $items-gap);
      max-width: calc(25% - $items-gap);

      @media ($first-break) and ($desktop-min-xl),
        ($tablet-max) and ($tablet-mid) {
        flex: 1 1 calc(33.3333% - $items-gap);
        max-width: calc(33.3333% - $items-gap);
      }
      @media ($tablet-mad) and ($tablet-min) {
        flex: 1 1 calc(50% - $items-gap);
        max-width: calc(50% - $items-gap);
      }
      @media ($mobile-max) {
        flex: 1 1 calc(50% - $items-gap-mobile);
        max-width: calc(50% - $items-gap-mobile);
      }
    }
    %product-inner {
      padding: 0;
    }
    %product-badges {
      top: 0;
    }
  }
  %products-items-grid2 {
    %product {
      flex: 1 1 calc(33.3333% - $items-gap);
      max-width: calc(33.3333% - $items-gap);

      @media ($first-break) and ($desktop-min-xl),
        ($tablet-max) and ($tablet-mid) {
        flex: 1 1 calc(50% - $items-gap);
        max-width: calc(50% - $items-gap);
      }
      @media ($tablet-mad) and ($tablet-min) {
        flex: 1 1 calc(100% - $items-gap);
        max-width: calc(100% - $items-gap);
      }
      @media ($mobile-max) {
        flex: 1 1 calc(100% - $items-gap-mobile);
        max-width: calc(100% - $items-gap-mobile);
      }
    }
    %product-inner {
      padding: 0;
    }
    %product-image-wrapper {
      @media ($mobile-max) {
        padding-bottom: 100%;
      }
    }
    %product-badges {
      top: 0;
    }
  }
  %products-items-list {
    $image-width: 200px;
    $image-width-mobile: 100px;

    %product {
      flex: 1 1 calc(100% - $items-gap);
      max-width: calc(100% - $items-gap);
    }
    %product-inner {
      padding: 0;
      position: relative;
      min-height: 180px;
    }
    %product-image-wrapper {
      width: $image-width;
      height: 100%;
      position: absolute;
      border-bottom: none;
      padding-bottom: 0;

      @media ($mobile-max) {
        width: $image-width-mobile;
      }
    }
    %product-content {
      width: 100%;
      font-size: 18px;
      flex-wrap: wrap;
      margin-top: -10px;
      padding-top: 0;
      flex-direction: row;
      justify-content: flex-end;

      &::before {
        content: "";
        order: 2;
        height: 0;
        flex-basis: 100%;
      }
    }
    %product-features {
      order: 3;
      height: auto;
      position: static;
      margin-top: 9px;
      margin-left: 1.5rem;
    }
    %product-features-inner {
      transform: none;
      background-color: transparent;
    }
    %product-features-button {
      background-color: $primary-color;

      &:hover {
        background-color: $primary-hover;
      }
    }
    %product-features-button-icon {
      color: $white;
    }
    %product-heading-link {
      flex-grow: 1;
      margin-top: 10px;
      margin-right: 15px;
      margin-bottom: 0;
    }
    %product-price-wrapper {
      margin-top: 10px;
      margin-left: auto;
    }
    %product-form {
      display: flex;
      flex-wrap: wrap;
      margin-left: calc($image-width + 30px);

      @media ($mobile-max) {
        margin-left: calc($image-width-mobile + 15px);
      }
    }
    %product-bottom {
      @extend %row-wrapper;
      margin-top: 4px;
      align-items: center;
      flex-direction: row-reverse;
    }
    %product-colors {
      width: 260px;
      margin: 0;
      margin-top: 10px;
      align-items: center;

      @media ($tablet-mad) and ($tablet-min) {
        width: 200px;
      }
      @media ($mobile-max) {
        width: 160px;
      }
    }
    %product-button {
      width: auto;
      margin-top: 10px;
    }
    // %product-color-label {
    // }
    %product-installment {
      order: 2;
      align-self: center;
      margin-left: auto;
    }
    %product-badges {
      top: 0;
    }
  }
  %pagination {
    margin-top: 3rem;
  }
}
