.promotion {
  overflow: hidden;
  position: relative;
  background: url("../images/icons.svg#wave-02") 81% 19% / auto 119.5% no-repeat
    $promotion-background;

  &::before {
    width: 100%;
    content: "";
    display: block;
    padding-bottom: 76%;
  }
  &__inner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.9375rem 1.1875rem;
    position: absolute;
  }
  &__heading {
    color: $white;
    z-index: 1;
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;

    span {
      font-size: 1.9375rem;
      line-height: 1;
      padding-left: 5px;
      vertical-align: 3px;
    }
  }
  &__image-wrapper {
    right: 0;
    width: 58%;
    height: 91%;
    bottom: -2%;
    position: absolute;
    margin-top: 0;
  }
  // &__image {
  // }
  &__date {
    left: 0;
    bottom: 0;
    padding: 10px 23px 10px 15px;
    position: absolute;
    line-height: 1;
    background-color: $white;
  }
  &__value {
    color: $orange;
    font-size: 20px;
    font-weight: 700;
    padding-left: 2px;
  }
}