.subcategories {
  $items-gap: 14px;

  &__list-wrapper {
    margin-top: -$items-gap;
    margin-left: -$items-gap;
  }
  &__list {
    @extend %row-wrapper;
  }
  &__list-item {
    flex: 1 1 20%;
    max-width: 20%;

    @media ($desktop-max) and ($desktop-min) {
      max-width: 25%;
      flex-basis: 25%;
    }
    @media ($tablet-max) and ($tablet-mid) {
      max-width: 33.3333%;
      flex-basis: 33.3333%;
    }
    @media ($tablet-mad) and ($tablet-min) {
      max-width: 50%;
      flex-basis: 50%;
    }
    @media ($mobile-max) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  &__link {
    color: $heading-color;
    border: 1px solid $primary-color;
    display: flex;
    padding: 0.625rem 0.9375rem;
    margin-top: $items-gap;
    font-weight: 500;
    align-items: center;
    margin-left: $items-gap;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $white;

    @media ($desktop-min) {
      &:hover {
        color: $white;
        background-color: $primary-color;
        transition: background-color 0.2s;
      }
    }
    @media ($tablet-mad) {
      font-size: 13px;
    }
  }
  &__image-wrapper {
    height: 4.8125rem;
    min-height: 49px;
    flex-shrink: 0;
  }
  &__image {
    width: auto;
    height: auto;
    max-height: 100%;
  }
  &__name {
    margin-left: 1.1875rem;
  }
}
