.cards {
  // &__container {
  // }
  // &__heading {
  // }
  &__text {
    color: $heading-color;
    font-size: 16px;
    font-weight: 300;
  }
  &__items {
    @extend %row-wrapper;
    justify-content: space-between;
  }
  &__arrow {
    flex: 0.1 1 0%;
    margin: 0 3.5rem;
    position: relative;
    min-width: 3rem;
    align-self: center;
    border-top: 3px solid $primary-color;

    & div {
      &::before,
      &::after {
        top: -3px;
        right: 0;
        width: 15px;
        height: auto;
        content: "";
        display: block;
        position: absolute;
        border-top: 3px solid $primary-color;
        transform-origin: 90% 50%;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  &__item {
    flex: 2 0 0%;
    max-width: 420px;

    &:nth-child(2n) {
      @extend %cards-odd-items !optional;
    }
    &:nth-child(2n + 1) {
      @extend %cards-even-items !optional;
    }
    &:last-child {
      @extend %cards-last-item !optional;
    }
  }
  &__item-inner {
    height: 100%;
    border: 1px solid $items-border;
    padding: 1.45rem;
    text-align: center;
    background-color: $white;

    %cards-last-item & {
      border-color: $primary-color;
    }
  }
  &__image {
    %cards-odd-items & {
      color: $yellow;
    }
    %cards-even-items & {
      color: $primary-color;
    }
  }
  &__text {
    font-size: 18px;
    margin-top: 1rem;
    line-height: 1.22;
  }
}
