.content-image {
  $content-image-gap: 3.125rem;
  $ci-gap-big: 7.7rem;

  margin: 4.85rem 0;

  @media ($tablet-max) {
    margin: 2rem 0;
  }

  %inner-content & {
    margin: 1.5rem 0;
  }
  // &__heading {
  // }
  &._bigger-image {
    @extend %content-image-bigger !optional;
  }
  &._resp-height {
    @extend %content-image-resp-height !optional;
  }
  &._fixed-height {
    @extend %content-image-fixed-height !optional;
  }
  &__items {
    @extend %row-wrapper;
    margin-top: -$content-image-gap;
    margin-left: -$content-image-gap;

    @media ($desktop-min) {
      flex-wrap: nowrap;
    }

    @media ($desktop-min-xl) {
      %content-image-bigger & {
        margin-left: -$ci-gap-big;
      }
    }
    &._reverse {
      flex-direction: row-reverse;
    }
  }
  &__item {
    flex: 1 1 100%;
    max-width: 100%;
    margin-top: $content-image-gap;
    padding-left: $content-image-gap;

    &_content {
      @media ($desktop-min) {
        flex: 1 1 57.3rem;
        max-width: 57.3rem;
      }
    }
    &_image {
      @media ($desktop-min) {
        flex: 1 1 0%;
        max-width: 50%;
        min-width: 500px;
      }
    }

    %content-image-bigger & {
      @media ($desktop-min-xl) {
        padding-left: $ci-gap-big;
      }

      @media ($desktop-min) {
        &:nth-child(1) {
          flex: 1 1 50rem;
          max-width: 50rem;
        }
        &:nth-child(2) {
          flex: 1 1 0%;
          max-width: 100%;
        }
      }
    }
  }
  &__inner {
    height: 100%;
  }
  &__content {
    @media ($desktop-max) and ($desktop-min) {
      font-size: 14px;
    }
  }
  &__image-wrapper {
    height: 100%;
    min-height: 250px;

    @media ($mobile-max) {
      min-height: 180px;
    }

    %content-image-bigger & {
      height: 0;
      min-height: 100%;
      padding-bottom: 38.777%;
    }
    %content-image-fixed-height & {
      height: 20rem;
      min-height: 0;
      padding-bottom: 0;

      @media ($mobile-max) {
        height: 180px;
      }
    }
    %content-image-resp-height & {
      height: 100%;
      min-height: 0;
      padding-bottom: 0;
    }
  }
  // &__image {
  // }
}
