.content-image {
  $content-image-gap: 3.125rem;
  $ci-gap-big: 7.7rem;

  padding: 4.85rem 0;

  // &__heading {
  // }
  &._bigger-image {
    @extend %content-image-bigger !optional;
  }
  &__items {
    @extend %row-wrapper;
    margin-top: -$content-image-gap;
    margin-left: -$content-image-gap;

    @media ($desktop-min) {
      flex-wrap: nowrap;
    }

    %content-image-bigger & {
      margin-left: -$ci-gap-big;
    }
    &._reverse {
      flex-direction: row-reverse;
    }
  }
  &__item {
    flex: 1 1 100%;
    max-width: 100%;
    margin-top: $content-image-gap;
    padding-left: $content-image-gap;

    &_content {
      @media ($desktop-min) {
        flex: 1 1 57.3rem;
        max-width: 57.3rem;
      }
    }
    &_image {
      @media ($desktop-min) {
        flex: 1 1 0%;
        max-width: 50%;
        min-width: 500px;
      }
    }

    %content-image-bigger & {
      padding-left: $ci-gap-big;

      @media ($desktop-min) {
        &:nth-child(1) {
          flex: 1 1 50rem;
          max-width: 50rem;
        }
        &:nth-child(2) {
          flex: 1 1 0%;
          max-width: 100%;
        }
      }
    }
  }
  &__inner {
    height: 100%;
  }
  &__content {
    @media ($desktop-max) and ($desktop-min) {
      font-size: 14px;
    }
  }
  &__image-wrapper {
    height: 100%;
    min-height: 250px;

    @media ($mobile-max) {
      min-height: 180px;
    }

    %content-image-bigger & {
      min-height: 380px;
    }
  }
  // &__image {
  // }
}
