.contact-block {
  max-width: 100%;

  @extend %contact-block !optional;

  &__inner {
    padding: 2.45rem 1.85rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: $white;

    @media ($mobile-max) {
      flex-direction: column;
    }
  }
  &__contacts {
    @extend %row-wrapper;
    align-items: center;

    %socials-link-icon {
      width: 2.1875rem;
      height: 2.1875rem;
      min-width: 25px;
      min-height: 25px;
    }
  }
  &__phone {
    color: $primary-color;
    display: flex;
    font-size: 1.5625rem;
    line-height: 1.2;
    font-weight: 700;
    margin-right: 1.85rem;
    text-decoration: none;

    &:hover {
      @extend %contact-block-phone-hover !optional;
    }

    &-icon {
      width: 1.75rem;
      height: 1.75rem;
      min-width: 20px;
      min-height: 20px;
      flex-shrink: 0;
      margin-right: 1rem;

      @media ($desktop-min) {
        transform: scale(1);
        transition: transform 0.3s;

        %contact-block-phone-hover & {
          transform: scale(1.3);
        }
      }
    }
    &-number {
      display: inline-block;
      white-space: nowrap;

      @media ($desktop-min) {
        transform: translateX(0);
        transition: transform 0.3s;

        %contact-block-phone-hover & {
          transform: translateX(3px);
        }
      }
    }
  }
  &__info {
    color: $heading-color;
    margin-top: 1.55rem;
  }
  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;

    @media ($mobile-max) {
      font-size: 16px;
    }
  }
  &__position {
    font-size: 1.125rem;
    text-transform: lowercase;

    @media ($tablet-max) {
      font-size: 14px;
    }
  }
  &__email {
    font-size: 20px;
  }
}
