.contact-block {
  max-width: 100%;

  @extend %contact-block !optional;

  &__inner {
    display: inline-block;
    padding: 2.45rem 1.85rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: $white;

    @media ($mobile-max) {
      padding: 1.45rem 2.15rem;
    }
  }
  &__contacts {
    @extend %row-wrapper;
    margin-top: -1.5rem;
    align-items: center;

    & > * {
      margin-top: 1.5rem;
    }

    %socials-link-icon {
      width: 2.1875rem;
      height: 2.1875rem;
      min-width: 30px;
      min-height: 30px;
    }
  }
  &__phone {
    display: flex;
    font-size: 1.5625rem;
    line-height: 1.2;
    margin-right: 1.85rem;
    text-decoration: none;

    &:hover {
      @extend %contact-block-phone-hover !optional;
    }

    &-icon {
      width: 1.75rem;
      color: $primary-color;
      height: 1.75rem;
      min-width: 20px;
      min-height: 20px;
      flex-shrink: 0;
      margin-right: 1rem;

      @media ($desktop-min) {
        transform: scale(1);
        transition: transform 0.3s;

        %contact-block-phone-hover & {
          transform: scale(1.3);
        }
      }
    }
    &-number {
      color: $primary-color;
      display: inline-block;
      font-size: 1.5625rem;
      line-height: 1.2;
      font-weight: 700;
      white-space: nowrap;

      @media ($desktop-min) {
        transform: translateX(0);
        transition: transform 0.3s;

        %contact-block-phone-hover & {
          transform: translateX(3px);
        }
      }

      @media (max-width: 359px) {
        font-size: 15px;
      }
    }
  }
  &__info {
    color: $heading-color;
    margin-top: 1.55rem;

    @media ($mobile-max) {
      margin-top: 0.85rem;
    }
  }
  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;

    @media ($mobile-max) {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
  &__text {
    display: block;
    font-size: 1.125rem;
    font-weight: 400;

    @media ($tablet-max) {
      font-size: 14px;
    }

    strong,
    b {
      display: inline-block;
    }
  }
  &__email {
    display: flex;
    font-size: 20px;
    margin-top: 1rem;
    align-items: center;
    text-decoration: none;

    &:hover {
      @extend %contact-block-email-hover !optional;
    }

    &-icon {
      width: 20px;
      color: $yellow;
      height: 20px;
      flex-shrink: 0;
      margin-right: 1rem;

      @media ($desktop-min) {
        transform: scale(1);
        transition: transform 0.3s;

        %contact-block-email-hover & {
          transform: scale(1.3);
        }
      }
    }
    &-address {
      color: $yellow;
      display: inline-block;
      font-size: 1.5625rem;
      line-height: 1.2;
      font-weight: 700;
      white-space: nowrap;

      @media ($desktop-min) {
        transform: translateX(0);
        transition: transform 0.3s;

        %contact-block-email-hover & {
          transform: translateX(3px);
        }
      }
    }
  }
}
