.burger {
  width: 25px;
  height: 16px;
  border: 0;
  cursor: pointer;
  padding: 0;
  z-index: 150;
  display: block;
  position: relative;
  perspective: 50px;
  background-color: transparent;
  transition: transform $transition3;

  &:before {
    content: "";
    top: -12px;
    left: -5px;
    right: -5px;
    bottom: -12px;
    display: block;
    position: absolute;
  }
  & span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 20;
    perspective: 50px;
    border-radius: 3px;
    background-color: $white;
    transition: transform 0.6s ease, opacity $transition3;

    // @media ($desktop-max) {
    //   %menu-opened & {
    //     background-color: $scrolled-color;
    //   }
    // }

    &:nth-child(1) {
      top: 0;

      %menu-opened & {
        transform: translateY(7px) rotateY(180deg) rotateZ(45deg);
      }
    }
    &:nth-child(2) {
      top: 7px;
      transition-delay: 0.2s;

      %menu-opened & {
        transform: rotateY(45deg) rotateZ(90deg);
        opacity: 0;
      }
    }
    &:nth-child(3) {
      top: 14px;
      transition-delay: 0.1s;

      %menu-opened & {
        transform: translateY(-7px) rotateY(180deg) rotateZ(-45deg);
      }
    }

    // %header-scrolled & {
    //   background-color: $scrolled-color;
    // }
  }

  %menu-opened & {
    transform: rotateY(180deg);
  }
  // %header-scrolled%menu-opened & {
  //   transform: rotateY(180deg) translateY(10px);
  // }
}