.contacts {
  display: flex;
  justify-content: space-around;

  @media ($desktop-max) {
    flex-direction: column;
  }

  &__item {
    & + & {
      margin-left: 30px;

      @extend %contacts-item-item !optional;
    }
    &:last-child {
      flex-grow: 0.14;
    }
  }
  &__label {
    color: $white;
    cursor: default;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 13px;

    @extend %contacts-label !optional;
  }
  &__content {
    font-size: 20px;
    line-height: 1.2;

    @media ($desktop-max-xl) {
      font-size: 19px;
    }
  }
  &__phone-wrapper {
    display: flex;
    align-items: center;
  }
  &__phone {
    color: $white;
    font-weight: 700;
  }
  &__email {
    color: $orange;
    font-weight: 700;
  }
  &__timetable {
    color: $white;
    font-weight: 600;
  }
  &__icon {
    width: 20px;
    height: 20px;
    transform: scale(1);
    transition: transform 0.3s;
    flex-shrink: 0;

    & + span {
      margin-left: 11px;
    }
    %contact-link-hover & {
      transform: scale(1.3);
    }
  }
  &__link {
    color: inherit;
    display: flex;
    text-decoration: none;
    @extend %link-indent;

    &[href]:hover {
      @extend %contact-link-hover !optional;

      & span {
        transform: translateX(3px);
      }
    }
    & + & {
      margin-left: 6px;
    }
    & span {
      display: inline-block;
      transform: translateX(0);
      transition: transform 0.3s;
      white-space: nowrap;
    }
  }
  %socials-links {
    margin-left: 10px;
  }
}