.feature-buttons {
  display: flex;
  align-items: center;

  &__item {
    position: relative;

    & + & {
      margin-left: 4px;
      padding-top: 2px;
    }
  }
  &__link {
    color: $white;
    width: 40px;
    height: 40px;
    transform: scale(1);
    transition: transform 0.2s;
    text-decoration: none;
    @extend %flex-center;

    &:hover {
      transform: scale(1.25);
    }
  }
  // &__icon {
  // }
  &__number {
    position: absolute;
    top: 0;
    right: 5px;
    color: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    transform: translateX(50%);
    @extend %header-bottom-number;
  }
  &__comparison {
    & %header-bottom-number {
      right: 1px;
    }
  }
  &__wishlist {
    & %header-bottom-number {
      right: 2px;
    }
  }
  &__cart {
    border: none;
    padding: 0;
    background-color: transparent;
  }
}