.header-top {
  display: flex;
  min-height: $header-top-height;
  justify-content: space-between;
  background-color: $secondary-color;

  @media ($desktop-min-xl) {
    align-items: center;
  }
  @media ($desktop-max) {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  &__item {
    & + & {
      @media ($desktop-min-xl) {
        margin-left: 30px;
      }
      @media ($desktop-max) {
        margin-top: 20px;
      }
    }
  }
  %hover-to-open {
    &::after {
      height: 25px;
    }
  }
  &__menu-wrapper {
    min-width: 150px;
    min-width: max-content;
    transform: translate(0, 25px) scale(0.9);

    @media ($desktop-min-xl) {
      padding: 10px 30px 15px;
      background-color: $white;
    }

    @media ($desktop-min-xl) {
      %hover-to-open-hover & {
        transform: translate(0, 15px);
      }
    }
    @media ($desktop-max) {
      %hover-to-open.active > & {
        transform: translate(0);
      }
    }
  }
  // &__menu {
  // }
  &__menu-item {
    & + li {
      margin-top: 5px;
    }
  }
  &__menu-link {
    color: inherit;
    display: block;
    padding: 8px 0;
    font-size: 14px;
    text-decoration: none;

    @media ($desktop-max) {
      color: $white;
      padding: 6px 0 6px 20px;
      font-weight: 600;
    }
    @media ($desktop-min-xl) {
      transition: color $transition3;

      &:hover {
        color: $primary-color;
      }
    }
    @media ($mobile-max) {
      font-size: 15px;
    }
  }
  &__links-list {
    display: flex;
    line-height: 1;

    @media ($desktop-min-xl) {
      align-items: center;
    }
    @media ($desktop-max) {
      flex-direction: column;
    }
  }
  &__list-item {
    & + & {
      @media ($desktop-min-xl) {
        margin-left: 35px;
      }
      @media ($desktop-max) {
        margin-top: 20px;
      }
    }
  }
  &__link {
    @extend %header-top-links;
    @include link-hover-underline();

    @media ($desktop-min-xl) {
      font-size: 14px;
    }
  }
  &__about {
    @media ($desktop-min-xl) {
      display: flex;
      align-items: center;
    }
  }
  &__about-burger {
    @extend %header-burger;
  }
  &__our-shops {
    display: inline-block;
    font-size: 16px;
    @extend %header-top-links;
    @extend %link-indent;

    &:hover {
      @extend %header-our-shops-hover !optional;
    }
  }
  &__our-shops-icon {
    color: $orange;
    transform: scale(1);
    transition: transform 0.3s;
    vertical-align: baseline;
    transform-origin: center bottom;

    %header-our-shops-hover & {
      transform: scale(1.3);
    }
  }
  &__our-shops-label {
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s;
    margin-left: 9px;

    %header-our-shops-hover & {
      transform: translateX(3px);
    }
  }
  &__buttons-wrapper {
    position: relative;
  }
  %header-collapse-button {
    background-color: $primary-color;
  }
}