%header-top-links {
  color: $white;
  line-height: 1.2;
  font-weight: 600;
  text-decoration: none;

  @media ($desktop-max) and ($tablet-min) {
    font-size: 15px;
  }
  @media ($mobile-max) {
    font-size: 16px;
  }
}
%header-burger {
  width: 19px;
  height: 13px;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  margin-right: 10px;
  background-color: transparent;
  transition: transform $transition3;

  @media ($desktop-max) {
    display: none;
  }

  & span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 20;
    border-radius: 3px;
    background-color: $yellow;
    transition: transform 0.6s ease, opacity $transition3,
      background-color $transition3;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 5px;
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      top: 10px;
      transition-delay: 0.1s;
    }

    %hover-to-open-hover & {
      background-color: $white;

      &:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
      &:nth-child(3) {
        opacity: 0;
        transform: translateY(5px);
      }
    }
  }
}

@import "logo";
@import "burger";
@import "header";
@import "header-top";
@import "header-middle";
@import "contacts";
@import "socials-links";
@import "header-bottom";
@import "feature-buttons";
@import "catalog";
@import "search-form";
