.logo {
  display: inline-block;
  position: relative;
  @extend %link-indent;

  @media ($desktop-min) {
    transition: transform $transition3;

    &:hover {
      transform: translateY(-2px);
    }
  }
  & svg {
    width: 144px;
    height: auto;
    transition: width $transition3;

    @media ($desktop-max) {
      width: 66px;
    }

    // %header-scrolled & {
    //   width: 139px;
    // }

    // & path {
    //   transition: fill $transition3;

    //   %header-scrolled & {
    //     fill: $scrolled-color;
    //   }
    // }
  }
}