.socials-links {
  display: flex;

  @extend %socials-links !optional;

  &__icon {
    width: 20px;
    height: 20px;
    transform: scale(1);
    transition: transform 0.3s;

    @extend %socials-link-icon !optional;

    & + span {
      margin-left: 11px;
    }
    %social-link-hover & {
      transform: scale(1.3);
    }
  }
  &__link {
    color: inherit;
    display: flex;
    text-decoration: none;
    @extend %link-indent;

    &:hover {
      @extend %social-link-hover !optional;
    }
    & + & {
      margin-left: 6px;
    }
    & span {
      white-space: nowrap;
    }
  }
}
