.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1030;
  display: block;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity $transition3, visibility $transition3;

  &_active {
    opacity: 1;
    visibility: visible;
  }
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 1000;
  padding: 28px 34px 30px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  min-width: 250px;
  visibility: hidden;
  border-radius: 9px;
  background-color: $white;
  transition: opacity $transition3, visibility $transition3;

  &_active {
    z-index: 1050;
    opacity: 1;
    visibility: visible;
  }
  &__close {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    @extend %flex-center;
    // filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));

    &%my-gallery-close-pseudo {
      content: "";
      width: 20px;
      height: 2px;
      display: block;
      position: absolute;
      background-color: $yellow;
    }
    &:before {
      @extend %my-gallery-close-pseudo;
      transform: rotate(-45deg);
    }
    &:after {
      @extend %my-gallery-close-pseudo;
      transform: rotate(45deg);
    }
  }
}
