.about-us {
  padding: 4.6875rem 0;

  @media ($tablet-mad) {
    padding: 2.4rem 0;
  }

  // &__heading {
  // }
  &__items {
    @media ($tablet-max) {
      flex-direction: column;
    }
  }
  &__item {
    @media ($desktop-min) {
      flex: 1 1 50%;
      max-width: 50%;
    }
    @media ($tablet-max) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  &__inner {
    height: 100%;

    @media ($desktop-min) {
      min-height: 250px;
    }
  }
  &__content {
    font-size: 14px;
    font-weight: 300;
    line-height: 2.143;

    @media ($mobile-max) {
      margin-top: -0.6em;
      line-height: 1.7857;
    }

    & * + * {
      margin-top: 2em;

      @media ($mobile-max) {
        margin-top: 1.8em;
      }
    }
  }
  &__image-wrapper {
    @media ($desktop-min) {
      height: 100%;
    }
    @media ($tablet-max) {
      height: 0;
      margin-top: 2em;
      padding-top: 48%;
    }
  }
  // &__image {
  // }
}