.collapse {
  $collapse-gap: 2rem;

  padding: 4.6875rem 0;

  &._centered {
    @extend %collapse-centered !optional;
  }

  @media ($tablet-mad) {
    padding: 2.4rem 0;
  }

  // &__heading {
  // }
  &__items {
    @extend %row-wrapper;
    margin-top: -$collapse-gap;
    margin-left: -$collapse-gap;

    %collapse-centered & {
      margin-left: 0;
    }
  }
  &__item {
    flex: 1 1 50%;
    max-width: 50%;
    margin-top: $collapse-gap;
    padding-left: $collapse-gap;

    %collapse-centered & {
      flex: 1 1 860px;
      max-width: 860px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;

      @media ($desktop-max) and ($desktop-min) {
        max-width: 740px;
      }
      @media ($tablet-max) and ($tablet-mid) {
        max-width: 650px;
      }
      @media ($tablet-mad) and ($tablet-min) {
        max-width: 550px;
      }
    }

    @media ($desktop-max) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  &__tab {
    color: $white;
    width: 100%;
    border: none;
    padding: 0.5rem 4rem 0.5rem 1.5rem;
    position: relative;
    font-size: 18px;
    text-align: left;
    min-height: 55px;
    line-height: 1.2;
    font-weight: 700;
    background-color: $primary-color;

    @media ($desktop-max) and ($tablet-min) {
      font-size: 16px;
    }
    @media ($desktop-min) {
      transition: background-color 0.3s;

      &:hover {
        background-color: $primary-hover;
      }
    }
    @media ($tablet-max) {
      min-height: 45px;
      padding-right: 50px;
    }
    @media ($mobile-max) {
      font-size: 14px;
    }

    &::after {
      top: 50%;
      right: 1.4375rem;
      width: 30px;
      height: 30px;
      content: "";
      display: block;
      position: absolute;
      transform: translateY(-50%) rotate(-90deg);
      background: url("../images/icons.svg#chevron-down") center / 48% auto
        no-repeat $white;
      border-radius: 50%;
      transition: transform 0.3s;

      @media ($tablet-max) {
        right: 10px;
      }
    }
    &[aria-expanded="true"] {
      &::after {
        transform: translateY(-50%);
      }
    }
  }
  &__tabpanel {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.active {
      opacity: 1;
      max-height: none;
      visibility: visible;
    }
  }
  &__content {
    border: 1px solid $primary-color;
    padding: 1rem 1.5rem 1.5rem;

    table {
      width: calc(100% + 3rem) !important;
      margin: 0 -1.5rem;
      max-width: none;

      &:first-child {
        margin-top: -1rem;
      }
      &:last-child {
        margin-bottom: -1.5rem;
      }
    }
  }
  %inner-page > & + %custom-content {
    margin-top: -3.5rem;

    @media ($tablet-mad) {
      margin-top: -1.5rem;
    }
  }
}
