%f-item-element {
  border: none;
  background-color: $form-grey-color;
}
%f-checkbox-pseudo {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
}

.form {
  &__row {
    @include margin-x(-7.5px);
  }
  &__item-wrapper {
    margin: 0;
    border: none;
    padding: 0;

    @extend %form-item-wrapper !optional;

    &_row {
      @extend %row-wrapper;
      align-items: center;

      @extend %form-item-wrapper-row !optional;
    }
  }
  &__item-heading {
    color: $heading-color;
    padding: 0;
    display: block;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 13px;

    @extend %form-item-heading !optional;

    @media ($desktop-max) and ($tablet-min) {
      font-size: 1.2rem;
    }
    @media ($mobile-max) {
      font-size: 1.3rem;
      margin-bottom: 15px;
    }

    %form-item-wrapper-row & {
      float: left;
      margin-bottom: 0;
    }
  }
  &__items-row {
    display: flex;
    margin-left: -6px;

    @extend %form-items-row !optional;

    @media ($mobile-max) {
      margin-left: -14px;
    }

    & > * {
      margin-left: 6px;

      @media ($mobile-max) {
        margin-left: 14px;
      }
    }
  }
  &__item {
    position: relative;
    @extend %form-item;
  }
  &__label {
    font-size: 14px;
    line-height: 1.375;
    @extend %form-label !optional;

    &_placeholder {
      position: absolute;
      font-size: 14px;
      color: $text-color;
      top: 14px;
      left: 25px;
      cursor: default;
      user-select: none;
      pointer-events: none;
      transform-origin: left top;
      transition: transform $transition3, color $transition3;
      transform: translate(0, 0) scale(1);

      &_active {
        color: $white;
        transform: translate(-22px, -34px) scale(0.75);
      }
    }
  }
  &__input {
    width: 100%;
    color: $text-color;
    @extend %f-item-element;
    @extend %form-input;

    @media ($tablet-max) {
      font-size: 15px;
    }
    @media ($tablet-min) {
      padding: 0 17px;
    }
    @media ($mobile-max) {
      font-size: 14px;
    }
    &[aria-hidden="true"] {
      width: 1px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type="file"] {
      & ~ label {
        width: 100%;
        color: $text-color;
        cursor: pointer;
        display: block;
        @extend %f-item-element;
        background: url("../images/form-file-icon.svg") 98% 15px/15px auto
          no-repeat $white;
        background-position: right 15px top 18px;

        @media ($tablet-max) {
          font-size: 15px;
        }
        @media ($tablet-min) {
          padding: 15px 15px 15px 25px;
        }
        @media ($mobile-max) {
          padding: 13px 29px;
          font-size: 14px;
        }
      }
    }
    &[type="radio"] {
      &:focus-visible {
        & + %form-label {
          @include focus-styles($color: $white);
        }
      }
    }
    &_error%form-input {
      box-shadow: 0 0 10px $required-and-error;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &_valid%form-input {
      background: url("../images/valid-icon.svg") 98% 17px/17px auto no-repeat
        $white;
      background-position: right 15px top 18px;
    }
    &-placeholder {
      top: 0;
      left: 12px;
      color: #8f8f8f;
      position: absolute;
      font-size: 14px;
      line-height: 1.2;

      @extend %form-input-placeholder !optional;
    }

    &::placeholder {
      color: $text-color;
      opacity: 0.8;
    }
    &::-webkit-input-placeholder {
      color: $text-color;
      opacity: 0.8;
    }
    &::-moz-placeholder {
      color: $text-color;
      opacity: 0.8;
    }
    &:-ms-input-placeholder {
      color: $text-color;
      opacity: 0.8;
    }
  }
  &__select {
    @extend %f-item-element;
    width: 100%;
    color: inherit;
    padding: 0 37px 0 17px;
    appearance: none;
    background: url("../images/icons.svg#chevron-down") right 15px center/16px
      auto no-repeat $white;

    @extend %form-select;

    &::-ms-expand {
      display: none;
    }
    & * {
      width: 100%;
      border: none;
      padding: 3px 17px;

      &:hover {
        background-color: $yellow;
      }
    }
  }
  & textarea%form-input {
    // margin: 0;
    resize: none;
    padding-top: 1em;
    padding-bottom: 1em;

    @media ($tablet-min) {
      min-height: 113px;
    }
    @media ($mobile-max) {
      min-height: 93px;
    }
  }
  &__slider {
    width: 100%;

    @extend %form-slider !optional;
  }
  &__color-wrapper {
    margin-right: -26px;

    @extend %form-color-wrapper !optional;
  }
  &__color {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    border-radius: 50%;
    vertical-align: middle;

    @extend %form-color !optional;

    %form-label {
      color: transparent;
      width: 50px;
      height: 50px;
      display: block;
      overflow: hidden;
      min-height: 0;
      transition: box-shadow 0.2s;
      box-shadow: inset 0 0 0 0 $form-grey-color;
      user-select: none;
      border-radius: 50%;
      background-color: $promotion-background;
    }
    input:checked ~ %form-label {
      box-shadow: inset 0 0 0 3px $primary-color;
    }
  }
  &__checkbox {
    margin-right: 32px;

    @extend %form-checkbox !optional;

    input {
      & ~ %form-label {
        cursor: pointer;
        display: block;
        position: relative;
        min-height: 0;
        padding-left: 32px;

        &:before {
          @extend %f-item-element;
          @extend %f-checkbox-pseudo;
        }
        &:after {
          @extend %f-checkbox-pseudo;
          opacity: 0;
          background: url("../images/icons.svg#check") 4px 1px/12px auto
            no-repeat transparent;
          transition: opacity $transition3, background-position $transition3;
        }
      }
      &:focus,
      &:focus-visible {
        & ~ %form-label {
          &:before {
            @include focus-styles;
          }
        }
      }
      // &:focus:not(:focus-visible) {
      //   & ~ %form-label {
      //     &:before {
      //     }
      //   }
      // }
      &:checked {
        & ~ %form-label {
          &:after {
            opacity: 1;
            background-position: 4px 4px;
          }
        }
      }
    }
    &:focus-visible {
      box-shadow: none;

      %form-label::before {
        @include focus-styles;
      }
    }

    $items-img-gap: 15px;

    &-wrapper--img {
      margin-right: -$items-img-gap;

      @extend %form-checkbox-wrapper-img !optional;
    }
    &--img {
      margin-right: $items-img-gap;

      @extend %form-checkbox-img !optional;

      input {
        & ~ %form-label {
          padding: 8px 10px 11px;
          text-align: center;
          transition: background-color 0.3s, box-shadow $transition3;
          user-select: none;
          background-color: transparent;

          @media ($mobile-max) {
            padding: 7px 9px 8px;
          }

          &::before,
          &::after {
            content: normal;
          }
          svg {
            stroke-width: 0.5px;
          }
          span {
            display: block;
            margin-top: 11px;

            @media ($mobile-max) {
              margin-top: 9px;
            }
          }
        }
        &:checked {
          & ~ %form-label {
            background-color: $form-grey-color;
          }
        }
      }
      &:focus-visible {
        %form-label {
          @include focus-styles;
        }
      }
    }
  }
  &__counter {
    height: 45px;
    border: 1px solid $form-grey-color;
    display: flex;

    @extend %form-counter !optional;

    &-button {
      color: $heading-color;
      width: 42px;
      border: none;
      height: 100%;
      font-size: 16px;
      background-color: $form-grey-color;

      // @extend %form-counter-button !optional;
    }
    %form-input {
      width: 40px;
      height: 100%;
      padding: 0;
      font-size: 18px;
      text-align: center;
      background-color: $white;
    }
  }
  &__error-message {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    text-shadow: 0 1px 3px $required-and-error;

    @media ($mobile-max) {
      font-size: 13px;
      margin-bottom: 0;
      padding-bottom: 3px;
    }

    &_active {
      margin: 5px 0 -5px;

      @media ($tablet-max) {
        margin-bottom: 0;
      }
    }
  }
  $fbw-gap: 1rem;
  &__buttons-wrapper {
    @extend %row-wrapper;
    margin-top: calc(0rem - $fbw-gap + 0.6rem);
    align-items: center;
    margin-left: -$fbw-gap;

    @media ($mobile-max) {
      justify-content: flex-end;
    }
  }
  &__personal-data {
    color: $white;
    font-size: 12px;

    @media ($tablet-max) {
      color: #fff;
      margin: 0 auto;
      font-size: 12px;
      max-width: 250px;
      text-align: center;
    }

    a {
      color: inherit;
      text-decoration: underline;

      @media ($desktop-min) {
        transition: color $transition3;

        &:hover {
          color: $white;
        }
      }
    }
  }
  &__button {
    min-width: 15.25rem;
    // margin-top: 0.6rem;
    margin-top: $fbw-gap;
    margin-left: $fbw-gap;
    flex-shrink: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
