.main-banner {
  &__slide {
    display: flex;
    position: relative;
    min-height: 40.625rem;
    align-items: center;
  }
  &__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.31);
    }
  }
  // &__image {
  // }
  %container {
    width: 100%;
    max-width: 1320px;
  }
  &__content {
    color: $white;
    position: relative;
    padding-bottom: 9px;

    @media ($tablet-mad) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  &__heading {
    color: inherit;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.225;
    margin-bottom: 3.875rem;
    text-transform: none;

    @media ($tablet-mad) {
      margin-bottom: 1.575rem;
    }
  }
  &__button {
    padding: 15px 37px;

    &:focus-visible {
      @include focus-styles;
    }
  }
  &__progress {
    margin-top: 6.875rem;
    justify-content: space-between;

    @media ($tablet-mad) {
      margin-top: 3.675rem;
    }
  }
  &__progress-item {
    @media ($tablet-mid) {
      flex: 1 1 30.5%;
      max-width: 30.5%;
    }
    @media ($tablet-mad) {
      flex: 1 1 50%;
      max-width: 50%;
      margin-bottom: 2rem;
    }
    &:nth-child(1) {
      @extend %first-progress-item;
    }
    &:nth-child(2) {
      @extend %second-progress-item;
    }
    &:nth-child(3) {
      @extend %third-progress-item;
    }
  }
  &__progress-content {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.36;
  }
  &__progress-value {
    color: $yellow-accent;
    display: block;
    position: relative;
    font-size: 3.25rem;
    transform: translateX(0);
    font-weight: 700;
    animation: 9s ease-out 0s forwards infinite running main-banner-value;

    %first-progress-item & {
      animation-delay: 0s;
    }
    %second-progress-item & {
      animation-delay: 3s;
    }
    %third-progress-item & {
      animation-delay: 6s;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -2.1875rem;
      width: 2.1875rem;
      height: 100%;
      opacity: 0;
      transform: translateX(0);
      animation: 9s ease-out 0s forwards infinite running main-banner-chevron;
      background: url("../images/icons.svg#chevron-right") left center/100% auto
        no-repeat transparent;

      %first-progress-item & {
        animation-delay: 0s;
      }
      %second-progress-item & {
        animation-delay: 3s;
      }
      %third-progress-item & {
        animation-delay: 6s;
      }
    }
  }
}
