.my-gallery {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1060;
  display: flex;
  overflow: hidden;
  visibility: hidden;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  transition: opacity $transition3, visibility $transition3;

  &_active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  &__close {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: $text-color;
    transform: scale(1);
    box-shadow: 0 3px 5px rgba($color: #000, $alpha: 0.3);

    @media ($desktop-min) {
      transition: transform $transition3, box-shadow $transition3;

      &:hover {
        box-shadow: 0 3px 15px rgba($color: #000, $alpha: 0.2);
        transform: scale(1.15);
      }
    }
    @media ($mobile-max) {
      top: 15px;
      right: 15px;
      width: 50px;
      height: 50px;
    }

    &%my-gallery-close-pseudo {
      content: "";
      width: 20px;
      height: 2px;
      display: block;
      position: absolute;
      background-color: $white;

      @media ($mobile-max) {
        width: 25px;
      }
    }
    &:before {
      @extend %my-gallery-close-pseudo;
      transform: rotate(-45deg);
    }
    &:after {
      @extend %my-gallery-close-pseudo;
      transform: rotate(45deg);
    }
  }
  // &__prev,
  // &__next {
  //   top: 50%;
  //   width: 40px;
  //   height: 40px;
  //   border: none;
  //   padding: 0;
  //   display: flex;
  //   position: absolute;
  //   transform: scale(1);
  //   align-items: center;
  //   border-radius: 50%;
  //   justify-content: center;
  //   background-color: $text-color;
  //   box-shadow: 0 3px 5px rgba($color: #000, $alpha: 0.3);

  //   @media ($desktop-min) {
  //     transition: transform $transition3, box-shadow $transition3;

  //     &:hover {
  //       box-shadow: 0 3px 15px rgba($color: #000, $alpha: 0.2);
  //       transform: scale(1.15);
  //     }
  //   }
  // }
  // %my-gallery-arrow-pseudo {
  //   content: "";
  //   width: 15px;
  //   height: 2px;
  //   display: block;
  //   position: absolute;
  //   background-color: $white;

  //   @media ($mobile-max) {
  //     width: 25px;
  //   }
  // }
  // &__prev {
  //   left: 50px;
  //   &:before {
  //     @extend %my-gallery-arrow-pseudo;
  //     transform-origin: left center;
  //     transform: rotate(-45deg);
  //   }
  //   &:after {
  //     @extend %my-gallery-arrow-pseudo;
  //     transform-origin: left center;
  //     transform: rotate(45deg);
  //   }
  // }
  // &__next {
  //   right: 50px;
  //   &:before {
  //     @extend %my-gallery-arrow-pseudo;
  //     transform-origin: right center;
  //     transform: rotate(-45deg);
  //   }
  //   &:after {
  //     @extend %my-gallery-arrow-pseudo;
  //     transform-origin: right center;
  //     transform: rotate(45deg);
  //   }
  // }

  img {
    border: 5px solid #fff;
    max-width: 90%;
    max-height: 90%;
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);
    transition: width 0.3s, height 0.3s;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.02);
    // border-radius: 15px;

    @media ($mobile-max) {
      max-width: 93%;
      max-height: 93%;
      max-width: calc(100% - 30px);
      max-height: calc(100% - 30px);
    }
  }
}
.my-gallery-toggle-button {
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  height: 100%;
  border: 0;
  width: 100%;
  left: 0;
  top: 0;

  @media ($desktop-min) {
    transform: scale(1);
    transition: transform $transition3;

    img {
      transition: transform $transition3;
    }
    &:hover {
      img {
        transform: translate(-50%, -50%) scale(1.05);
      }
      &:after {
        opacity: 1;
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    right: 20px;
    bottom: 20px;
    width: 25px;
    height: 25px;
    opacity: 0;
    background: url("../images/fullscreen.svg") center/contain no-repeat
      transparent;
    transition: opacity $transition3;
  }
}
