.our-shops {
  padding: 4.6875rem 0;

  @media ($tablet-mad) {
    padding: 2.4rem 0;
  }

  &._detailed {
    @extend %our-shops-detailed !optional;
  }
  // &__heading {
  // }
  &__items {
    margin-bottom: -2rem;

    %our-shops-detailed & {
      flex-wrap: wrap;
    }

    @media ($tablet-min) {
      flex-wrap: nowrap;
    }

    & + * {
      margin-top: 2.5rem;
    }
  }
  &__item {
    margin-bottom: 2rem;

    @media ($tablet-min) {
      flex: 1 1 35.625rem;
      max-width: 35.625rem;
    }
    @media ($desktop-min) {
      %our-shops-detailed & {
        flex: 1 1 50%;
        max-width: 50%;
      }
    }
    @media ($tablet-max) {
      %our-shops-detailed & {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
    @media ($mobile-max) {
      flex: 1 1 100%;
      max-width: 100%;
    }

    &:nth-child(2n + 1) {
      @extend %os-odd-item;
    }
    &:nth-child(2n) {
      @extend %os-even-item;
    }
  }
  &__inner {
    height: 100%;
    display: flex;
    padding: 2.1875rem 2.1875rem 1.25rem 3.75rem;
    position: relative;
    font-size: 18px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
    font-weight: 300;
    line-height: 1.666;
    align-items: flex-start;
    flex-direction: column;
    background-color: $white;

    @media ($desktop-max) and ($tablet-min) {
      padding: 1.6rem 1.6rem 1.1rem 2.4rem;
      font-size: 16px;
    }
    @media ($mobile-max) {
      padding: 1.2rem 1.2rem 1rem 2rem;
      font-size: 14px;
    }

    %our-shops-detailed & {
      padding-top: 2.8rem;

      @media ($mobile-max) {
        padding-top: 2.4rem;
      }
    }
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0.12;
      position: absolute;
      background-size: 4.9375rem auto;
      background-color: transparent;
      background-repeat: no-repeat;

      %os-odd-item & {
        background-image: url("../images/icons.svg#map-marker-yellow");
        background-position: 10px 18px;
      }
      %os-even-item & {
        background-image: url("../images/icons.svg#map-marker-green");
        background-position: right 28px center;
      }
      %os-odd-item &,
      %os-even-item & {
        %our-shops-detailed & {
          background-size: 12.2rem auto;
          background-position: right 3.4rem top 2.3rem;

          @media ($mobile-max) {
            background-size: 15rem auto;
            background-position: right 1.2rem top 2rem;
          }
        }
      }
    }
    & > * {
      position: relative;
    }
    & strong {
      color: $heading-color;
      font-weight: 500;
    }
  }
  &__title {
    font-size: 20px;
    margin-bottom: 1.9rem;

    @media ($mobile-max) {
      font-size: 16px;
    }
  }
  &__element-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @extend %our-shops-element-wrapper !optional;

    @media ($mobile-max) {
      margin-bottom: 20px;
    }
  }
  &__icon {
    color: $white;
    width: 2.5rem;
    height: 2.5rem;
    min-width: 30px;
    min-height: 30px;
    align-self: flex-start;
    flex-shrink: 0;
    margin-right: 1.125rem;
    @extend %flex-center;
    border-radius: 50%;
    background-color: $primary-color;

    @media ($mobile-max) {
      margin-right: 10px;
    }

    &--yellow {
      background-color: $yellow;
    }
    svg path {
      fill: $white;
    }
  }
  &__content {
    color: $heading-color;
    margin-bottom: 8px;

    %our-shops-element-wrapper & {
      line-height: 1.21;
      margin-bottom: 0;
    }
    & a {
      color: inherit;
      text-decoration: none;
    }
  }
  &__slider {
    width: 100%;
    max-width: 100%;
  }
  &__button {
    color: $primary-color;
    border: none;
    padding: 7px 0;
    margin-top: auto;
    font-weight: 600;
    line-height: 1.666;
    text-decoration: underline;
    background-color: transparent;
  }
  &__map {
    & + * {
      margin-top: 2.5rem;
    }
    & iframe {
      height: 27.8125rem;
    }
  }

  $os-cs-gap: 25px;
  $os-cs-gap-mobile: 15px;
  %custom-slider {
    padding: 1.3rem 0;

    @media ($mobile-max) {
      padding: 0.2rem 0;
    }

    %container {
      padding-left: $os-cs-gap;
      padding-right: $os-cs-gap;

      @media ($mobile-max) {
        padding-left: $os-cs-gap-mobile;
        padding-right: $os-cs-gap-mobile;
      }
    }
  }
  %custom-slider-not-locked {
    margin-left: $os-cs-gap;
    margin-right: $os-cs-gap;

    @media ($mobile-max) {
      margin-left: $os-cs-gap-mobile;
      margin-right: $os-cs-gap-mobile;
    }
  }
  %custom-slider-nav-btn {
    width: calc($os-cs-gap * 2);
    min-width: $os-cs-gap;

    @media ($mobile-max) {
      width: calc($os-cs-gap-mobile * 2);
      min-width: $os-cs-gap-mobile;
    }
  }
}
