.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1030;
  display: block;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity $transition3, visibility $transition3;

  &_active {
    opacity: 1;
    visibility: visible;
  }
}
.popup {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1000;
  display: flex;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  transition: opacity $transition3, visibility $transition3;

  @media ($desktop-min-xl) {
    padding: 50px $container-padding-desktop $container-padding-desktop;
  }
  @media ($desktop-max) and ($tablet-min) {
    padding: 50px $container-padding-tablet $container-padding-tablet;
  }
  @media ($mobile-max) {
    padding: 50px $container-padding-mobile $container-padding-mobile;
  }

  &_active {
    z-index: 1050;
    opacity: 1;
    visibility: visible;
  }
  &__inner {
    width: 750px;
    margin: auto;
    padding: 3rem 3.4rem 2.15rem;
    position: relative;
    max-width: 100%;
    min-width: 250px;
    background-color: $white;

    @media ($mobile-max) {
      padding: 2.5rem;
    }
  }
  &__close {
    position: absolute;
    top: -45px;
    width: 40px;
    right: -10px;
    height: 40px;
    border: none;
    padding: 0;
    background-color: transparent;
    @extend %flex-center;
    // filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));

    @media ($desktop-min) {
      transform: scale(1);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }

    &%my-gallery-close-pseudo {
      content: "";
      width: 28px;
      height: 2px;
      display: block;
      position: absolute;
      background-color: $white;
    }
    &:before {
      @extend %my-gallery-close-pseudo;
      transform: rotate(-45deg);
    }
    &:after {
      @extend %my-gallery-close-pseudo;
      transform: rotate(45deg);
    }
  }
  form %form-item:not(%form-counter) label {
    width: 100%;
  }
  &__heading {
    font-weight: 600;

    & + * {
      margin-top: 1.7rem;
    }
  }
  %form-item {
    & + * {
      margin-top: 1.25rem;
    }
  }
  %form-label {
    color: $heading-color;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
  %form-input {
    padding: 0 30px;
    font-size: 14px;
    min-height: 45px;
    margin-top: 0.5rem;
  }
  %form-counter %form-input {
    padding: 0;
    font-size: 16px;
    margin-top: 0;
    min-height: 0;
  }
}
.popup-product {
  $pp-gap: 1.8rem;

  @extend %row-wrapper;
  margin-top: -$pp-gap;
  margin-left: -$pp-gap;
  align-items: center;
  margin-bottom: 1.85rem;

  & > * {
    margin-top: $pp-gap;
    margin-left: $pp-gap;
  }
  &__image-wrapper {
    height: 0;
    width: 126px;
    height: 126px;

    @media ($mobile-max) {
      width: 86px;
      height: 86px;
    }
  }
  // &__image {
  // }
  &__content {
    max-width: 100%;

    @media ($tablet-min) {
      flex: 1 1 0%;
    }
  }
  &__heading {
    font-size: 16px;

    & + * {
      margin-top: 1.5rem;
    }
  }
  &__price {
    color: $heading-color;
    font-size: 16px;
    font-weight: 700;
    margin-left: 1.6rem;
  }
}
