.reviews {
  $items-gap: 3.125rem;
  $items-tablet-gap: 2rem;

  padding: 4.6875rem 0;

  @media ($tablet-mad) {
    padding: 2.4rem 0;
  }

  &._full-review {
    @extend %full-reviews !optional;
  }

  &__heading {
    @media ($mobile-max) {
      margin-bottom: 1.7em;
    }
  }
  &__wrapper {
    %full-reviews & {
      @extend %row-wrapper;
    }

    @media ($desktop-min-xl) {
      margin-left: -$items-gap;
    }
    @media ($desktop-max) {
      margin-left: -$items-tablet-gap;
    }
  }
  &__items {
    @extend %row-wrapper;

    %full-reviews & {
      flex: 1 1 0%;
      max-width: 100%;
      margin-top: -2.5rem;
    }

    @media ($tablet-max) {
      margin-top: -2rem;
    }

    & > * {
      width: 100%;

      @media ($desktop-min-xl) {
        flex: 1 1 calc(33.3333% - $items-gap);
        max-width: calc(33.3333% - $items-gap);
        margin-left: $items-gap;
      }
      @media ($desktop-max) and ($desktop-min) {
        flex: 1 1 calc(33.3333% - $items-tablet-gap);
        max-width: calc(33.3333% - $items-tablet-gap);
      }
      @media ($desktop-max) {
        margin-left: $items-tablet-gap;
      }
      @media ($tablet-max) {
        margin-top: 2rem;
      }

      %full-reviews & {
        flex: 1 1 100%;
        max-width: 100%;
        margin-top: 2.5rem;
      }
    }

    %pagination {
      order: 1;
    }
  }
  &__side {
    flex: 0 1 auto;
    max-width: 100%;
    margin-left: $items-gap;

    @media ($tablet-mad) {
      flex: 1 1 100%;
      margin-top: 4rem;
      margin-left: $items-tablet-gap;
    }
  }
}
.reviews-widget {
  top: 100px;
  color: $heading-color;
  padding: 3rem 3.5rem 2.5rem 3.75rem;
  position: sticky;
  font-size: 18px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: $white;

  @media ($desktop-max) and ($tablet-min) {
    padding: 2rem 2.5rem 2rem 2.75rem;
    font-size: 16px;
  }
  @media ($mobile-max) {
    padding: 1.5rem 2rem;
    font-size: 14px;
  }

  &__heading {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 600;

    @media ($tablet-max) {
      font-size: 16px;
    }
  }
  &__overall-wrapper {
    display: flex;
    margin-top: 1.6rem;
    align-items: center;
    margin-right: 4.55rem;

    @media ($desktop-max) and ($tablet-min) {
      margin-right: 2rem;
    }
    @media ($mobile-max) {
      margin-right: 0;
    }
  }
  &__overall-rating {
    color: $white;
    width: 6.1875rem;
    height: 5.875rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-right: 1.4rem;
    border-radius: 0.625rem;
    @extend %flex-center;
    background-color: $primary-color;
  }
  &__overall-stars {
    display: flex;
    align-items: center;
  }
  // &__overall-star {
  // }
  &__overall-title {
    margin-top: 1rem;
  }
  // &__overall-amount {
  // }
  &__ratings {
    margin-top: 2.3rem;
  }
  &__rating {
    display: flex;
    align-items: center;

    & + & {
      margin-top: 0.5rem;
    }
  }
  &__score {
    width: 0.9rem;
    text-align: center;
    margin-right: 3px;
  }
  &__star {
    color: $orange;
  }
  &__progress {
    height: 1.1rem;
    flex-grow: 0;
    min-height: 12px;
    transition: flex-grow 1s;
    margin-left: 1.4rem;
    border-radius: 5px;
    background-color: $primary-color;
  }
  &__amount {
    margin-left: 0.6rem;
  }
  &__button {
    width: 100%;
    margin-top: 18px;
  }
}
[data-star] {
  color: $orange;
  width: 2.375rem;
  height: 2.14875rem;
  position: relative;
  min-width: 26px;
  min-height: 23.5238px;
  transform: translateZ(0);

  & + & {
    margin-left: 0.6rem;
  }
  svg {
    width: 0%;
    height: 100%;
    position: relative;
    transition: width 0.25s;
  }
  &:nth-child(2) svg {
    transition-delay: 0.25s;
  }
  &:nth-child(3) svg {
    transition-delay: 0.5s;
  }
  &:nth-child(4) svg {
    transition-delay: 0.75s;
  }
  &:nth-child(5) svg {
    transition-delay: 1s;
  }
  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.5;
    display: block;
    overflow: hidden;
    position: absolute;
    transform: translateZ(0);
    background: url("../images/icons.svg#star-grey") left center/100% auto
      no-repeat transparent;
  }
}
