.review {
  border: 1px solid $items-border;
  display: flex;
  flex-direction: column;
  background-color: $white;

  @extend %review !optional;

  @media ($tablet-mad) {
    margin-bottom: 2rem;
  }

  ._full-review & {
    @extend %full-review !optional;
  }
  & > * {
    padding-left: 2.3125rem;
    padding-right: 1.625rem;
  }
  &__top {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    align-items: center;
    border-bottom: 1px solid $items-border;
    padding-bottom: 6px;
    justify-content: flex-end;

    & > * {
      margin-bottom: 10px;
    }
    & > * + * {
      margin-left: 20px;
    }
  }
  &__author {
    color: $heading-color;
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;

    @media ($mobile-max) {
      font-size: 1.4rem;
    }
  }
  &__rating {
    display: flex;
  }
  &__star {
    color: $items-border;
    width: 1.25rem;
    height: 1.25rem;

    &.active {
      color: $yellow;
    }
    & + & {
      margin-left: 0.5rem;
    }
  }
  &__time {
    line-height: 1.25rem;
    margin-right: 7px;
  }
  &__bottom {
    display: flex;
    flex-grow: 1;
    padding-top: 1.8rem;
    flex-direction: column;
    padding-bottom: 1.75rem;

    @media ($mobile-max) {
      font-size: 1.2rem;
    }
  }
  &__text {
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.875;
    text-overflow: ellipsis;
    margin-bottom: auto;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;

    %full-review & {
      display: block;
    }
  }
  &__button-wrapper {
    margin-top: 1.3125rem;
    text-align: right;

    %full-review & {
      display: none;
    }
  }
  &__link {
    color: $primary-color;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    @include link-hover-underline($primary-color);
  }
}