.reviews {
  $items-gap: 3.125rem;
  $items-tablet-gap: 2rem;

  padding: 4.6875rem 0;

  @media ($tablet-mad) {
    padding: 2.4rem 0;
  }

  // &__container {
  // }
  &__heading {
    & + * {
      @media ($mobile-max) {
        margin-top: 1.7em;
      }
    }
  }
  &__items {
    @extend %row-wrapper;

    @media ($desktop-min-xl) {
      margin-left: -$items-gap;
    }
    @media ($desktop-max) {
      margin-left: -$items-tablet-gap;
    }
    @media ($tablet-max) {
      margin-bottom: -2rem;
    }

    %review {
      width: 100%;

      @media ($desktop-min-xl) {
        flex: 1 1 calc(33.3333% - $items-gap);
        max-width: calc(33.3333% - $items-gap);
        margin-left: $items-gap;
      }
      @media ($desktop-max) and ($desktop-min) {
        flex: 1 1 calc(33.3333% - $items-tablet-gap);
        max-width: calc(33.3333% - $items-tablet-gap);
      }
      @media ($desktop-max) {
        margin-left: $items-tablet-gap;
      }
      @media ($tablet-max) {
        margin-bottom: 2rem;
      }
    }
  }
}
