.ui-autocomplete-loading {
  background: #c4d7be url("jquery-ui/images/ui-anim_basic_16x16.gif") right 47px
    center no-repeat;
}
.ui-widget.ui-widget-content {
  border: none;
  background-color: #e6ede4;
  z-index: 999;
}
.product-card-search {
  background-color: $white;
}
