<div class="contact-block">
  <div class="contact-block__inner">
    <div class="contact-block__contacts">
      <a href="tel:@@phoneFormat" class="contact-block__phone">
        <svg class="contact-block__phone-icon" width="28.3" height="28.3">
          <use href="images/icons.svg#phone" />
        </svg><span class="contact-block__phone-number">@@phone</span>
      </a>
      @@loop('./src/html/socials.html', '../json/socials.json')
    </div>
    <div class="contact-block__info">
      @@if (context.name) {
      <p class="contact-block__name">@@name</p>
      }
      @@if (context.text) {
      <span class="contact-block__text">@@text</span>
      }
      @@if (context.email) {
      <a href="mailto:@@email" class="contact-block__email">
        <svg class="contact-block__email-icon" width="20" height="20">
          <use href="images/icons.svg#email"></use>
        </svg><span class="contact-block__email-address">@@email</span>
      </a>
      }
    </div>
  </div>
</div>